body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif, 'Revalia', 'cursive';
}

*, *::after, *::before {
    box-sizing: border-box;
}

/* header start */
header {
    width: 100%;
    display: flex;
    background: #EEEFF1;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-family: 'Revalia';
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    color: #34547A;

    display: flex;
    white-space: nowrap;
    padding-left: 402px;
    margin-top: 57px;
    margin-bottom: 0px;
}

.header__wrapper {
    display: flex;
    margin-top: 79px;
    margin-bottom: 0px;
    margin-left: 398px;
    margin-bottom: 0px;
}

.header__wrapper a {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.1em;
    color: #34547A;

    display: flex;
    text-decoration: none;
    padding: 0px 42px;
}
/* header end */

/* section__content */
.section__content {
    width: 100%;
    height: 700px;
    display: flex;
    
    background: #EEEFF1;
    position: relative;
}

.section__content img {
    width: 357px;
    height: 233.7px;
    margin-top: 162px;
    margin-left: 487px;
}

.content__wrapper {
    display: flex;
    flex-flow: column;
    margin-top: 162px;
    margin-left: 131px;
}

.content__wrapper h1 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 48px;
    line-height: 79px;
    color: #000000;

    margin-top: 0px;
    margin-bottom: 0px;
}

.content__wrapper p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;

    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 60px;
}

.content__wrapper button {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 225px;
    height: 65px;
    white-space: nowrap;
    background: #34547A;
    padding: 25px 41px;
    cursor: pointer;
    border: none;
    outline: none;

    margin-top: 60px;
    margin-bottom: 146px;
}
/* section__content end */

/* section__info star */
.section__info {
    display: flex;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    margin-top: 119px;
}

.section__info h1 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #000000;

    margin-bottom: 0px;
}

.section__info p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #727272;

    margin-top: 0px;
    padding-top: 50px;
    margin-bottom: 100px;
}
/* section__info end */

/* section__numbers start */
.section__numbers {
    position: relative;
    width: 100%;
    height: 250px;
    background: #34547A;
    display: flex;
    justify-content: center;
}

.number__wrapper {
    display: flex;
    justify-content: center;
    padding: 0px 52px;
    margin-top: 100px;
}

.number__wrapper img {
    width: 50px;
    height: 50px;
}

.column__wrapper{
    display: flex;
    flex-flow: column;
    padding-left: 20px;
}

.column__wrapper p {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    color: #FFFFFF;

    display: flex;
    margin-top: 0;
    margin-bottom: 0;
}

.column__wrapper span {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;

    display: flex;
    margin-top: 10px;
}
/* section__numbers end */

/* section__skills start */
.section__skills {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 102px;
}

.skills__wrapper {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding-right: 396px;
}

.skills__wrapper h1 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #000000;

    margin-top: 0px;
    margin-bottom: 50px;
}

.skills__wrapper p {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    color: #727272;
}

.hr-two-color {
	width: 445px;
    height: 4px;
    background: #34547A;
    transform: rotate(-0.06deg);
}

.section__skills img {
    width: 555px;
    height: 450px;
    margin-bottom: 101px;
}
/* section__skills end */

/* section__video start */
.section__video {
    width: 100%;
    height: 1004px;
    position: relative;
    background: #EEEFF1;
    align-items: center;
    justify-content: center;
}

.video__wrapper {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}

.video__wrapper h1 {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    text-align: center;

    color: #000000;
    margin-top: 0;
    margin-bottom: 50px;
}

.video__wrapper span {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

    color: #727272;
    margin-bottom: 57px;
}

.video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video img:first-child {
    width: 1110px;
    height: 600px;
    margin-bottom: 100px;
}

.video img:nth-child(2) {
    position: absolute;
    width: 100px;
    height: 100px;
}
/* section__video end */

/* section__photo start */
/* section__photo end */





